
body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

main {
    max-width: 30rem;
    background-color: hsl(217, 19%, 24%);
    padding: 2rem;
    border-radius: 10%;
}

p, h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 800;
}

p {
    color: hsl(150, 100%, 66%);
    letter-spacing: .175rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

h1 {
    color: hsl(193, 38%, 86%);
    font-size: 1.75rem;
}

.svg1 {
    display: block;
    margin: 3rem auto 0;
}

button {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 1rem;

    position: relative;
    top: 3.8rem;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1rem hsl(150, 100%, 66%, .5);
}

footer {
    font-size: .6875rem;
    text-align: center;
    margin-top: 4rem;
    color: aliceblue;
}

footer a {
    color: hsl(228, 84%, 80%);
}

@media screen and (max-width: 414px) {
    .svg1 {
        display: none;
    }
    .svg2 {
        display: block;
        margin: 3rem auto 0;
    }
}

@media screen and (min-width: 415px) {
    .svg2 {
        display: none;
    }
}